body{
    padding: 50px;
    font-family: Cambria;
}
.top01, .top02{
    /* border: 2px solid #000; */
    width: 50%;
}
.top-container{
    /* border: 2px solid #000; */
    display: flex;
    flex-direction: row;
}

.logo-container{
    display: flex;
    justify-content: left;
    align-items: center;
}

.top-header-logo{
    margin-left: 10px;
    font-size: 27px;
    font-weight: bold;
    color: rgb(239, 7, 235);

}
.bottom-container{
    margin-left: 20px;
}
.top-header{
    font-size: 60px;
    font-weight: bold;
    margin: 0;
}
.top-subheader{
    font-size: 20px;
    margin: 0;
    font-weight: lighter;
    font-family: 'Trebuchet MS';
}
.bottom-container h5{
    margin: 25px 0 0 0;
    font-weight: lighter;
}

.top02 img{
    display: block;
    margin: auto;
}

/* bottom */

.btm-container{
    /* border: 2px solid #000; */
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    border-top: 15px solid rgb(239, 7, 235);
    border-bottom: 15px solid rgb(239, 7, 235);
}

.btm-container-child-01{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid #000; */
    width: 70%;
}


.btm-header{
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

.child{
    display: flex;
    flex-direction: column;
   
}

.btm-01{
    padding: 10px;
}

.btm-para{
    font-size: 16px;
    line-height: 1.5; 
}
.border-color{
    border-top: 15px solid rgb(239, 7, 235);
}
.btm-02{
    padding: 10px;
    /* border: 2px solid #000; */
    margin-top: 20px;
    text-align: left;
}

.btm-para, .btm-header{
    padding-right: 20px;
}
.btm-para{
    text-align: justify;
    font-family: 'Trebuchet MS';
}
.btm-header{
    font-weight: bolder;
}


.btm-container-child-02{
    background-color: rgb(239, 7, 235);
    /* border: 2px solid #000; */
    width: 40%;
    padding:20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.btm-container-child-02 img{
    display: block;
    margin: auto;
    border-radius: 50%;
}

.btm-container-child-02 .text-content{
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}


/* circle */
.img-div{
    border-radius: 50%;
    background-color: #fff;
    width: 250px;
    height: 250px;
    position: absolute;
    top: -80px;
    position: relative;

}

.final-image{
    /* border: 2px solid rgb(239, 7, 235); */
    position: absolute;
    top: 40px;
    left: 20px;
}